<div class="card mb-2">
  <div class="card-body">
    <h4>1. Bootstrap cards</h4>
    <ngp-carousel [innerButtons]="true">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="card m-2">
          <h4 class="card-header text-center">{{elem.name}}</h4>
          <div class="card-body text-center">
            <button class="btn btn-primary btn-lg" (click)="sayHi(elem)">Say hi console</button>
          </div>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-body">
    <h4>1. Bootstrap cards loop</h4>
    <ngp-carousel [innerButtons]="true" [loop]="true" [autoSlide]="1000">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="card m-2">
          <h4 class="card-header text-center">{{elem.name}}</h4>
          <div class="card-body text-center">
            <button class="btn btn-primary btn-lg">Say hi console</button>
          </div>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>
