<div class="card mb-2">
  <div class="card-body">
    <h4>2. Custom buttons</h4>
    <ngp-carousel>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
      <div style="padding: 5px" ngpCarouselButton slot="left">
        <button class="btn btn-primary">Left</button>
      </div>
      <div style="padding: 5px" ngpCarouselButton slot="right">
        <button class="btn btn-primary">Right</button>
      </div>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>3. Buttons over elements</h4>
    <ngp-carousel [innerButtons]="true">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>4. Buttons auto hiding</h4>
    <div class="border border-dark">
      <ngp-carousel [buttonsMode]="enControlsMode.auto">
        <ng-template *ngFor="let elem of elements" ngpCarouselItem>
          <div class="p-2 m-1 border border-dark text-center">
            <span>{{elem.name}}</span>
          </div>
        </ng-template>
      </ngp-carousel>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>5. Movement to start and to end positions</h4>

    <hr>
    <h5>Left to right orientation</h5>
    <ngp-carousel #example5>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
    <p class="text-center">
      <button class="btn btn-primary m-1" (click)="toStart()" [disabled]="example5Carousel.isOnStart">To Start</button>
      <button class="btn btn-primary m-1" (click)="toEnd()" [disabled]="example5Carousel.isOnEnd">To End</button>
    </p>

    <hr>
    <h5>Right to left orientation</h5>
    <ngp-carousel #example5rtl [rtl]="true">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
    <p class="text-center">
      <button class="btn btn-primary m-1" (click)="toStartRtl()" [disabled]="example5RtlCarousel.isOnStart">To Start</button>
      <button class="btn btn-primary m-1" (click)="toEndRtl()" [disabled]="example5RtlCarousel.isOnEnd">To End</button>
    </p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>6. Infinity with long itemTemplates</h4>
    <ngp-carousel [loop]="true" #example6>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center" (click)="log(elem.name)">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>

    <p>Item index: {{example6Index}}</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>7. Infinity with short items</h4>
    <ngp-carousel [loop]="true">
      <ng-template *ngFor="let elem of elements.slice(0, 3)" ngpCarouselItem>
        <div  class="p-2 m-1 border border-dark text-center" (click)="log(elem.name)">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>8. Automatic switch</h4>

    <hr>
    <h5>LtR direction</h5>
    <ngp-carousel [loop]="true" [autoSlide]="3000" [autoSlideDirection]="'next'">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>

    <hr>
    <h5>RtL direction</h5>
    <ngp-carousel [loop]="true" [rtl]="true" [autoSlide]="3000" [autoSlideDirection]="'next'">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>9. Clear items</h4>

    <ngp-carousel [loop]="false" #example9>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="removeAllFrom9()">Clear</button>
    <button class="btn btn-primary ml-2" (click)="fillAllTo9()">Fill</button>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h4>10. Enable / Disable</h4>

    <ngp-carousel [loop]="loop10"
                  [disabled]="!enabled10"
                  [autoSlide]="1000"
                  [autoSlideDirection]="'next'"
                  [innerButtons]="innerButtons10"
    >
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="enabled10 = !enabled10">
      {{enabled10 ? 'Disable' : 'Enable'}}
    </button>

    <button class="btn btn-primary ml-2" (click)="loop10 = !loop10">
      {{loop10 ? 'Disable Loop' : 'Enable Loop'}}
    </button>

    <button class="btn btn-primary ml-2" (click)="innerButtons10 = !innerButtons10">
      {{innerButtons10 ? 'Disable inner buttons' : 'Enable inner buttons'}}
    </button>
  </div>
</div>
