::ng-deep {
  body {
    margin-top: 30px;
  }
  .elem-item {
    background: #d8deff;
    padding: 10px 15px;
    color: darkgreen;
    font-size: 3rem;
    margin: 0.1em;
  }

  .character-item {
    background-color: whitesmoke;
    padding: 15px;
    margin: 0.5em;
    width: 280px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px darkgrey;

    &:hover {
      transform: scale(1.025);
    }
  }

  .user-elem {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 4px;
      width: 80px;
    }
  }

  .user-full-name-elem {
    .user-full-name {
      margin: 0 5px;
      padding: 10px;
      background: #9C27B0;
      font-size: 2rem;
      color: white;
    }
  }
}
