<div class="container">
  <h3>Angular carousel demo</h3>
  <br>

  <a class="btn btn-link" routerLink="">Base</a>
  <a class="btn btn-link" routerLink="advanced">Advanced</a>
  <a class="btn btn-link" routerLink="images">Images</a>
  <a class="btn btn-link" routerLink="bootstrap">Bootstrap cards</a>
  <a class="btn btn-link" routerLink="unified-width">Unified width cards</a>
  <a class="btn btn-link" routerLink="content-manipulation">Content manipulation</a>
  <hr>

  <router-outlet></router-outlet>
</div>
