:host {
  display: block;
  min-width: 20px;
}

.ngp-arrow {
  cursor: pointer;
  padding: 4px;

  i {
    border: solid rgba(0, 0, 0, .75);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
  }

  .disabled {
    opacity: 0.25;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

