<div class="ngp-carousel">
  <div class="button-slot left" [class.inner]="innerButtons" [class.hidden]="!showButtons">
    <ng-content select="[ngpCarouselButton][slot='left']"></ng-content>
    <ng-template #buttonSlotLeft></ng-template>
  </div>

  <div #container class="items-container">
    <div #carousel (ngpWidthChanged)="widthChanged($event)">
      <div class="items">
        <ng-container #items></ng-container>
      </div>
    </div>
  </div>

  <div class="button-slot right" [class.inner]="innerButtons" [class.hidden]="!showButtons">
    <ng-content select="[ngpCarouselButton][slot='right']"></ng-content>
    <ng-template #buttonSlotRight></ng-template>
  </div>
</div>
