$nav-btn-shift: 10px;
$items-width: 60000px;

.ngp-carousel {
  display: flex;
  align-items: center;
  position: relative;

  .button-slot {
    &.hidden {
      display: none !important;
    }

    &.inner {
      z-index: 100;
      position: absolute;
      top: 0;

      width: 50px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      &.left {
        right: calc(100% - 50px);
      }
      &.right {
        left: calc(100% - 50px);
      }
    }
  }

  .items-container {
    overflow: hidden;

    .items {
      display: inline-flex;
      align-items: flex-end;
      width: $items-width;
    }
  }
}
