<div class="card mb-2">
  <div class="card-body">
    <h4>1. Default carousel</h4>

    <hr>
    <h5>Big items</h5>
    <small>*Items with full width of them greater than of carousel</small>
    <ngp-carousel>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="elem-item border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>

    <hr>
    <h5>Small items</h5>
    <small>
      *Items with full width of them less than of carousel. <br>
      Buttons will be unblocked when width of carousel allow to make at least one scroll step.
    </small>
    <ngp-carousel>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="p-2 m-1 border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>

    <hr>
    <h5>Small items rtl</h5>
    <ngp-carousel [rtl]="true">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="p-2 m-1 border border-dark text-center">
          <span>{{elem.name}}</span>
        </div>
      </ng-template>
    </ngp-carousel>

    <hr>
    <h5>Big pretty items with icons</h5>
    <ngp-carousel>
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="character-item border border-dark text-center rounded">
          <img alt="{{elem.name}}" src="assets/characters/{{elem.img}}" class="img-fluid">
          <h3>{{elem.name}}</h3>
        </div>
      </ng-template>
    </ngp-carousel>

    <hr>
    <h5>Big pretty items with icons rtl orientation</h5>
    <ngp-carousel [rtl]="true">
      <ng-template *ngFor="let elem of elements" ngpCarouselItem>
        <div class="character-item border border-dark text-center rounded">
          <img alt="{{elem.name}}" src="assets/characters/{{elem.img}}" class="img-fluid">
          <h3>{{elem.name}}</h3>
        </div>
      </ng-template>
    </ngp-carousel>
  </div>
</div>
